/* Health Potion Studios 2018 by Alex Wagner */
.borderTest{
	border-style: solid;
	border-width: 0px;
}

.dontPeek {
  -webkit-user-select:none;
  -webkit-touch-callout: none;
}

.font-apps{
	font-family: 'Baloo', cursive;
}

.font-headings{
	font-family: 'Audiowide', cursive;
}

.light-blue-background{
	background-color:#f0ffff;
}

.w3-row-padding,.w3-row-padding>.w3-half,.w3-row-padding>.w3-third,.w3-row-padding>.w3-twothird,.w3-row-padding>.w3-threequarter,.w3-row-padding>.w3-quarter,.w3-row-padding>.w3-col{padding:0% 3%}

.w3-container2{padding:0.01em 22px}

.w3-hover-grayscale-off:hover{filter:grayscale(0%)}
.w3-grayscale-30{filter:grayscale(30%)}
.w3-hover-sepia-off:hover{filter:sepia(0%)}

.w3-padding-32-bottom{padding-bottom:32px!important}

.w3-red-background,.w3-hover-red:hover{background-color:#f44336!important}
.w3-darkred-background{background-color:#c2160a!important}

.noUnderline {text-decoration: none}
.underlineHover:hover{text-decoration: underline}


.theme-blue-1 {background-color:#fcfdfd}
.theme-blue-2 {background-color:#f3f9f9}
.theme-blue-3 {background-color:#e8f3f4}
.theme-blue-4 {background-color:#dcedee}
.theme-blue-5 {
	/*background-color:#d1e7e8*/
	background-image: linear-gradient(-90deg,#bae0e2,#d1e7e8);
}
.theme-blue-6 {
	/*background-color:#bae0e2*/
	background-image: linear-gradient(90deg,#bae0e2,#d1e7e8);
}
.theme-blue-7 {background-color:#8cc3c6}



.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
    
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display:block;
}


.w3-col,.w3-half,.w3-third,.w3-twothird,.w3-threequarter,.w3-quarter{float:left;width:100%}

@media (min-width:650px){.w3-col.m1{width:8.33333%}.w3-col.m2{width:16.66666%}.w3-col.m3,.w3-quarter{width:24.99999%}.w3-col.m4,.w3-third{width:33.33333%}.w3-col.m5{width:41.66666%}.w3-col.m6,.w3-half{width:49.99999%}.w3-col.m7{width:58.33333%}.w3-col.m8,.w3-twothird{width:66.66666%}
.w3-col.m9,.w3-threequarter{width:74.99999%}.w3-col.m10{width:83.33333%}.w3-col.m11{width:91.66666%}.w3-col.m12{width:99.99999%}}


.appIcon-third {
    float:left;
    width:100%;
}

@media (min-width:650px) {
    .appIcon-third{
        width:33.33333%;
    }
}

.appIcon-third{
    padding-left: 5%;
    padding-right: 5%;
}

@media (max-width: 650px) {
    .appIcon-third{
        padding-left: 8%;
        padding-right: 8%;
    }
}

@media (min-width: 651px) and (max-width: 900px) {
    .appIcon-third{
        padding-left: 0%;
        padding-right: 0%;
    }
}

@media (min-width: 901px) and (max-width: 1100px) {
    .appIcon-third{
        padding-left: 2%;
        padding-right: 2%;
    }
}

@media (min-width: 1101px) and (max-width: 1200px) {
    .appIcon-third{
        padding-left: 3%;
        padding-right: 3%;
    }
}


.w3-display-left{
    position:absolute;
    top:50%;
    left:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(-0%,-50%);
}
.w3-display-right{
    position:absolute;
    top:50%;
    right:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(0%,-50%);
}

.dropdown{
    display:none;
}