/* Health Potion Studios 2018 by Alex Wagner */

:root{
    --hexShape: polygon(30px 0%, calc(100% - 30px) 0%, 100% 30px, 100% calc(100% - 30px), calc(100% - 30px) 100%, 30px 100%, 0% calc(100% - 30px), 0% 30px);
    --hexShapeSmall: polygon(10px 0%, calc(100% - 10px) 0%, 100% 10px, 100% calc(100% - 10px), calc(100% - 10px) 100%, 10px 100%, 0% calc(100% - 10px), 0% 10px);
    
    --footerHeight: 150px;
    /*footer height + potion image*/
    --footerHeightMax: calc(var(--footerHeight) + 150px);
}

body, html{
    height: 100%;
}


.borderTest{
	border-style: solid;
	border-width: 0px;
}

.dontPeek {
  -webkit-user-select:none;
  -webkit-touch-callout: none;
}

.font-apps{
	font-family: 'Baloo', sans-serif;
}

.font-headings{
	font-family: 'Audiowide', sans-serif;
}

.light-blue-background{
	background-color:#f0ffff;
}

.w3-row-padding,.w3-row-padding>.w3-half,.w3-row-padding>.w3-third,.w3-row-padding>.w3-twothird,.w3-row-padding>.w3-threequarter,.w3-row-padding>.w3-quarter,.w3-row-padding>.w3-col{padding:0% 3%}

.w3-container2{padding:0.01em 22px}

.w3-hover-grayscale-off:hover{filter:grayscale(0%)}
.w3-grayscale-30{filter:grayscale(30%)}
.w3-hover-sepia-off:hover{filter:sepia(0%)}

.w3-padding-32-bottom{padding-bottom:32px!important}

.w3-red-background,.w3-hover-red:hover{background-color:#f85347!important}
.w3-darkred-background{background-color:#c2160a!important}

.noUnderline {text-decoration: none}
.underlineHover:hover{text-decoration: underline}


.theme-blue-1 {background-color:#fcfdfd}
.theme-blue-2 {background-color:#f3f9f9}
.theme-blue-3 {background-color:#e8f3f4}
.theme-blue-4 {background-color:#dcedee}
.theme-blue-5 {
	background:#d1e7e8;
	background-image: linear-gradient(-90deg,#bae0e2,#d1e7e8);
}
.theme-blue-6 {
	background:#bae0e2;
	background-image: linear-gradient(90deg,#bae0e2,#d1e7e8);
}
.theme-blue-7 {background-color:#8cc3c6}



.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
    
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display:block;
}


.w3-col,.w3-half,.w3-third,.w3-twothird,.w3-threequarter,.w3-quarter{float:left;width:100%}

@media (min-width:650px){.w3-col.m1{width:8.33333%}.w3-col.m2{width:16.66666%}.w3-col.m3,.w3-quarter{width:24.99999%}.w3-col.m4,.w3-third{width:33.33333%}.w3-col.m5{width:41.66666%}.w3-col.m6,.w3-half{width:49.99999%}.w3-col.m7{width:58.33333%}.w3-col.m8,.w3-twothird{width:66.66666%}
.w3-col.m9,.w3-threequarter{width:74.99999%}.w3-col.m10{width:83.33333%}.w3-col.m11{width:91.66666%}.w3-col.m12{width:99.99999%}}

.container {
    text-align: center;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.card {
    border-radius: 7px;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    display: inline-block;
    max-width: 28%;
    min-width: 280px;
    vertical-align: top;
    margin: 0 2.5% 18px 2.5%;
    margin-bottom: 25px;
    padding:0.01em 16px;
}



.appIcon {
    width: 85%;
    margin-bottom: 32px;
}

.appIcon:hover {
    -webkit-transform:scale(1.07);
    -moz-transform:scale(1.07);
    -ms-transform:scale(1.07);
    -o-transform:scale(1.07);
     transform:scale(1.07);
}

.appIcon-third {
    float:left;
    width:100%;
}

@media (min-width:650px) {
    .appIcon-third{
        width:33.33333%;
    }
}


.appIcon-third img{
    /*padding-left: 5%;
    padding-right: 5%;
    max-width: 500px;*/
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 100%;
    max-height: 300px;
}

/*
@media (max-width: 650px) {
    .appIcon-third{
        padding-left: 8%;
        padding-right: 8%;
    }
}

@media (min-width: 651px) and (max-width: 900px) {
    .appIcon-third{
        padding-left: 0%;
        padding-right: 0%;
    }
}

@media (min-width: 901px) and (max-width: 1100px) {
    .appIcon-third{
        padding-left: 2%;
        padding-right: 2%;
    }
}

@media (min-width: 1101px) and (max-width: 1200px) {
    .appIcon-third{
        padding-left: 4%;
        padding-right: 4%;
    }
}

@media (min-width: 1201px) and (max-width: 1400px) {
    .appIcon-third{
        padding-left: 5%;
        padding-right: 5%;
    }
}
*/

.w3-display-left{
    position:absolute;
    top:50%;
    left:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(-0%,-50%);
}
.w3-display-right{
    position:absolute;
    top:50%;
    right:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(0%,-50%);
}

.dropdown{
    display:none;
}


.aniSpeed0{
    animation-delay: 0s;
    -vendor-animation-delay: 0s;
    -vendor-animation-delay: 0s;
    -o-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -webkit-animation-delay: 0s;
}
.aniSpeed1{
    animation-delay: .1s;
    -vendor-animation-delay: .1s;
    -o-animation-delay:      .1s;
    -moz-animation-delay:    .1s;
    -webkit-animation-delay: .1s;
}
.aniSpeed2{
    animation-delay: .2s;
    -o-animation-delay:      .2s;
    -vendor-animation-delay: .2s;
    -o-animation-delay:      .2s;
    -moz-animation-delay:    .2s;
    -webkit-animation-delay: .2s;
}
.aniSpeed3{
    animation-delay: .3s;
    -vendor-animation-delay: .3s;
    -o-animation-delay:      .3s;
    -moz-animation-delay:    .3s;
    -webkit-animation-delay: .3s;
}
.aniSpeed4{
    animation-delay: .4s;
    -vendor-animation-delay: .4s;
    -o-animation-delay:      .4s;
    -moz-animation-delay:    .4s;
    -webkit-animation-delay: .4s;
}
.aniSpeed5{
    animation-delay: .5s;
    -vendor-animation-delay: .5s;
    -o-animation-delay:      .5s;
    -moz-animation-delay:    .5s;
    -webkit-animation-delay: .5s;
}
.aniSpeed6{
    animation-delay: .6s;
    -vendor-animation-delay: .6s;
    -o-animation-delay:      .6s;
    -moz-animation-delay:    .6s;
    -webkit-animation-delay: .6s;
}

/*App Page specifics*/
.row-margins-LR{
    margin: 0 5% 0 5%;
  }
  
  .row-spacer-TB{
    clear:left;
    /*padding: 25px 25px;*/
    padding: .5% .5%;
  }

.row-spacer-TnoB{
    clear:left;
    /*padding: 25px 25px;*/
    padding-top: .5%;
	padding-bottom: 0;
  }
  
  .row-spacer-TB-small{
    clear:left;
    padding: .25% .25%;
  }

.row-spacer-TnoB-small{
    clear:left;
    padding-top: .25%;
	padding-bottom: 0;
  }
  
  /*video padding portrait*/
  .videoPaddingPort{
      padding-left: 15%;
      padding-right: 15%;
  
  }
  
  @media (max-width: 700px) {
      .videoPaddingPort{
          padding-left: 5%;
          padding-right: 5%;
      }
  }
  
  @media (min-width: 701px) and (max-width: 900px) {
      .videoPaddingPort{
          padding-left: 8%;
          padding-right: 8%;
      }
  }
  
  @media (min-width: 901px) and (max-width: 1100px) {
      .videoPaddingPort{
          padding-left: 10%;
          padding-right: 10%;
      }
  }
  
  @media (min-width: 1101px) and (max-width: 1200px) {
      .videoPaddingPort{
          padding-left: 13%;
          padding-right: 13%;
      }
  }
  
  .slideshowImgPort{
      width:35%;
      margin: auto;
  }

  .slideshowImgLand{
    width:80%;
    margin: auto;
}
  
  @media (max-width: 700px) {
      .slideshowImgPort {
          width:80%; 
      }
      .slideshowImgLand{
        width:90%;
        margin: auto;
    }
  }
  
  @media (min-width: 701px) and (max-width: 800px) {
      .slideshowImgPort {
          width:50%; 
      }
      .slideshowImgLand{
        width:70%;
        margin: auto;
    }
  }
  
  @media (min-width: 801px) and (max-width: 1000px) {
      .slideshowImgPort {
          width:40%; 
      }
      .slideshowImgLand{
        width:75%;
        margin: auto;
    }
  }

  
  
  .width100{
      width: 100%;
      position: relative;
  }
      
  .roundedTop{
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
  }
  
  .roundedBot{
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
  }
  
  .h3fontSize{
      font-size: 24px;
  }
  
  @media (max-width: 700px) {
      .h3fontSize{
          font-size: 20px;
      }
  }
  
  .privPolicyPaddingBot{
      padding-bottom: 10px;
  }
  
  .appHeaderPadding{
      padding-top: 25px;
      padding-bottom: 0px;
  }
  
  .appHeaderFontSize{
      font-size: 48px;
  }
  
  @media (max-width: 700px) {
      .appHeaderFontSize{
          font-size: 42px;
      }
  }

  .pageWrapper {
      margin-left: auto;
      margin-right: auto;
      padding-left: 3%;
      padding-right: 3%;
      max-width: 1400px; 
      border-style: solid;
      border-width: 0px;
      /*footer stuff*/
      min-height: 100%;
      margin-bottom: calc(0px -  var(--footerHeightMax));
  }

  .pageWrapper:after {
    content: "";
    display: block;
  }

  footer, .pageWrapper:after {
    height: var(--footerHeightMax); 
  }


  .oddRadius {
    border: 2px solid red;
    padding: 10px;
    border-radius: 50px 20px;
}

.centerText {
    text-align: center;
}



.footerLogo{
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px 100px 0 0 ;
    border: #000 1 solid;
    transform: translate(0, 20%);
    z-index: -999;
}

.footerLogo img {
    width:90px;
    transform: translate(33.5%, 13%);
}


.icon-holder
{
    padding-top: 48px;
    border: 1px solid black;
}

#copyright
{
    margin: 15px 0;
}

/* Wrapper */
.icon-button {
	background-color: #f0ffff;
	border-radius: 3rem;
	cursor: pointer;
	display: inline-block;
	font-size: 2.0rem;
	height: 3rem;
	line-height: 3rem;
	margin: 0 5px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 3rem;
  
}

/* Circle */
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}

.icon-button:hover span {
	width: 2.7rem;
	height: 2.7rem;
	border-radius: 2.7rem;
	margin: -1.35rem;
}
.twitter span {
	background-color: #4099ff;
}
.instagram span {
	background-color: #F77737;
}
.youtube span {
	background-color: #ff0000;
}
.itch span {
	background-color: #fa5c5c;
}

/* Icons */
.icon-button i {
    font-size: 1.8rem;
	background: none;
	color: white;
	height: 3rem;
	left: 0;
	line-height: 3rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 3rem;
	z-index: 10;
}

.icon-button .icon-twitter {
	color: #4099ff;
}
.icon-button .icon-instagram {
	color: #F77737;
}
.icon-button .icon-youtube {
	color: #ff0000;
}
.icon-button .icon-itch {
	color: #fa5c5c;
}

.icon-button:hover .icon-twitter,
.icon-button:hover .icon-instagram,
.icon-button:hover .icon-youtube,
.icon-button:hover .icon-itch {
	color: white;
}













.flex
{
    display: flex;
    display: -webkit-flex;
}

header
{
    /*height: 42px;*/
    display: flex;
    display: -webkit-flex;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 1.3rem;
    width: 100%;
}


.logoWrapper
{
    display: flex;
    display: -webkit-flex;
    width: 100%;
}

.logoWrapper a
{
    padding: 0 !important;
}


.logoWrapper img
{
    height: 36px;
    align-self: center;
    -webkit-box-align: center;
    margin: 4px 3px;
    margin-left: 8px;
}

.logoWrapper:hover
{
    color: black;
}

.headerLogoText
{
    font-size: 2rem;
    align-self: center;
    -webkit-box-align: center;
}

header a
{
    align-self: center;
    -webkit-box-align: center;
    padding: 5px 8px;
    text-decoration: none;
    /*border: 1px solid black;*/
}

header i 
{
    margin-right: 3px;
    align-self: center;
    -webkit-box-align: center;
}

header .button:hover
{
    background-color: #f0ffff;
    color: black;
    -webkit-clip-path: var(--hexShapeSmall);
    clip-path: var(--hexShapeSmall);
}

.headerPulldownIcon
{
    margin-left: auto;
    margin-right: 15px;
}

/*Mobile drop down part*/
#navDemo
{
    width: 100%;
    margin-top: -10px;
    padding: 8px 0;
}

#navDemo a
{
    text-align: left;
    display: block;
    margin: 5px;
    font-size: 1.3rem;
}

#navDemo i
{
    width: 27px;
    text-align: center;
}




/* Create a Parallax Effect */
.mainPageLogoBackground {
    background-image: url("/images/large_logo.png");
    background-attachment: fixed;
    background-position: center 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
    min-height: 100%;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1200px) {
    .mainPageLogoBackground {
        background-attachment: scroll;
        background-size: cover;
    }
}

.hero
{
    margin-top: 55px;
    display: flex;
    display: -webkit-flex;
    padding: 20px 50px;
    
    /*background-color: rgba(0, 26, 255, 0.027);*/
    /*background-image: linear-gradient(rgba(0, 26, 255, 0.027) 80%, rgba(0, 26, 255, 0));*/
}

@media (max-width: 700px) {
.hero{
    padding: 20px 20px;
}
}

.hero-image
{
    height: 300px;
    flex: 1;
    text-align: center;
    align-self: center;
    -webkit-box-align: center;
}

.hero img
{
    max-height: 100%;
    width: auto;
}

.hero-text-area
{
    align-self: center;
    -webkit-box-align: center;
    flex: 1;
    text-align: center;
    flex-direction: column;
    -webkit-flex-direction: column;
    font-size: 1.4em;
}

.hero-text-1
{
    align-self: center;
    -webkit-box-align: center;
    flex: 1;
    text-align: center;
    margin-bottom: 50px;
}
.hero-text-2
{
    align-self: center;
    -webkit-box-align: center;
    flex: 1;
    text-align: center;
}

@media (max-width: 700px) {
    .hero{
        flex-direction: column;
        -webkit-flex-direction: column;
    }
    .hero-text-1
    {
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .hero-text-2
    {
        margin-bottom: 20px;
    }
}

.right {
    text-align: right;
}

.space {
    height: 10px;
}

body{
    font-family: 'Rajdhani', sans-serif;
}


.oddRadius2 {
    border-top: 4px solid red;
    border-bottom: 4px solid red;
    padding: 10px;
    display:block;
    background-size:cover;
    -webkit-clip-path: var(--hexShape);
    clip-path: var(--hexShape);
  }

