body{
    overflow: hidden;
}


table {
    border: 1px solid rgb(58, 58, 58);
    font-size: 1px;
    border-radius: 20px;
    border-spacing: 10px;
    background-color: gray;
}

td {
    border: 1px solid black;
    font-size: 1px;
    background-color: white;
    padding: 3px;
    padding-top: 6px;
}

.myCheckbox {
    /*margin: 0px 0px;*/
    margin: -1.2px -1px;
    padding: 0px;
    width: 13px;
}


.uiCheckbox {
    margin: -6px -1px;
    padding: 0px;
    width: 8.53px;
    opacity: .6;
}

.uiCheckbox:checked
{
    opacity: 1;
}


.center {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}